ul li{
margin: 1rem; 
list-style: none;
font-family: var(--font-family);
margin-left:  1rem; 


}
ul li a{
   
   font-weight: bold;
   font-size: var(--font-size);

}
hr{
    border: .5px #ccc solid;
    width: 90%;
}
ul i{
    margin: 5px 10px 0 8px;
    font-size: 18px;
    opacity: .7;
}